# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
bin/

# macOS
.DS_Store

# Fabric / Minecraft
run/

# GraalVM JDK archives
*.tar.gz
